body {
    background-color: #F5F5F5;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
    z-index: 99;
}
main {
    margin-top: 65px;
}

#head-icon {
    width: 170px;
}
#head-icon img {
    width: 100%;
}

.color.red0 {color: #9f3a38!important;}

.pt-5 {padding-top: 5px}
.pt-10 {padding-top: 10px}
.pt-15 {padding-top: 15px}
.gist-meta, .gist .blob-interaction-bar {display: none;}